@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
*{
    margin: 0;
    padding: 0;
}

body{
    background: url(./assets/bg3.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
}

.login-box h1{
    float: left;
    font-size: 40px;
    border-bottom: 6px solid white;
    margin-bottom: 50px;
    padding: 13px 0;
    color: white;
}

.textbox{
    width: 100%;
    overflow: hidden;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid white;
}

.textbox input{
    background: none;
    color: white;
    outline: none;
    border:none;
    margin: 0 10px;
    width: 80%;
}

.btn {
    width: 100%;
    margin-top: 10%;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #03a328;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #0acc68;
    text-decoration: none;
  }